<div style="width: 100%; display: flex; justify-content: center; padding-bottom: 20px;">
    <dx-data-grid
    [dataSource]="storesDataSource"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    width="98%"
    [columnHidingEnabled]="true"
    keyExpr="id"
    [repaintChangesOnly]="true"
    [columnHidingEnabled]="true"
    
    >
      
      <dxo-selection mode="single"></dxo-selection>
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxi-column dataType="number" dataField="id" caption="ID"></dxi-column>
      <dxi-column dataType="string" dataField="name" caption="დასახელება"></dxi-column>
      <dxi-column dataType="string" dataField="address" caption="მისამართი"></dxi-column>
      <dxi-column type="buttons" caption="პროდუქტები">
        <dxi-button
        hint="პროდუქტები"
        icon="info"
        [onClick]="showProducts"
        ></dxi-button>
      </dxi-column>

    </dx-data-grid>
</div>

<dx-popup
minHeight="60%"
minWidth="70%"
[visible]="showProductRestPopup"
(onHidden)="onPopupHidden()"
title="პროდუქციის ნაშთი"
[hideOnOutsideClick]="true"
>
    <dx-data-grid
    [dataSource]="productsRestDataSource"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    keyExpr="id"
    [repaintChangesOnly]="true"
    [columnHidingEnabled]="true"
    >
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
    </dx-data-grid>
</dx-popup>

<dx-load-panel
    shadingColor="rgba(0,0,0,0.4)"
    [visible]="isloading"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [hideOnOutsideClick]="false"
    ></dx-load-panel>