<div style="width: 100%; display: flex; justify-content: center;">
    <dx-data-grid
    #productsGrid
    [dataSource]="products"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    width="100%"
    keyExpr="id"
    [repaintChangesOnly]="true"
    [columnHidingEnabled]="true"
    (onSaved)="onChangesSaved($event)"
    (onRowRemoving)="removeProduct($event)"
    (onEditorPreparing)="onEditorPrep($event)"
    (onCellPrepared)="addPercentToNum($event)"
    (onEditingStart)="editStart($event)"
    noDataText="ცხრილი ცარიელია"
    >
      <!-- <dxo-toolbar>
        <dxi-item name="addRowButton" location="after"></dxi-item>
      </dxo-toolbar> -->
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-filter-row
        [visible]="true"
      ></dxo-filter-row>
      <dxo-paging [pageSize]="50"></dxo-paging>
      <dxo-editing
      mode="popup"
      [allowAdding]="true"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [useIcons]="true"
      >
        <dxo-popup
          title="რედაქტირება"
          [showTitle]="true"
          width="70%"
          height="70%"
          minWidth="min(100%, 500px)"
          [closeOnOutsideClick]="true"
          [showCloseButton]="true"
        >
        
        </dxo-popup>
        <!-- <dxo-form>
          <dxi-item itemType="group" [colCount]="1" [colSpan]="1" caption="ინფორმაცია">
            <dxi-item dataField="productName">
              <dxi-validation-rule type="required"></dxi-validation-rule>
              <dx-text-box [(value)]="productName" maxLength="100"></dx-text-box>
            </dxi-item>
            <dxi-item dataField="description">
              <dx-text-area [(value)]="description"></dx-text-area>
            </dxi-item>
            <dxi-item dataField="finaProductName">
              <dx-text-box [(value)]="finaProductName"></dx-text-box>
            </dxi-item>
            <dxi-item dataField="finaCode">
              <dx-text-box [(value)]="finaCode" (onFocusOut)="finaCodeFocusOut($event)">
              </dx-text-box>
            </dxi-item>
            <dxi-item dataField="barcode">
              <dx-text-box [(value)]="barCode"></dx-text-box>
            </dxi-item>
            <dxi-item dataField="warranty">
              <dx-number-box [(value)]="warranty"></dx-number-box>
            </dxi-item>
          </dxi-item>
        
          
          <dxi-item itemType="group" [colCount]="1" colSpan="1" caption="ფასები">
            <dxi-item dataField="retailPrice" [colSpan]="1">
              <dx-number-box [(value)]="retailPrice"></dx-number-box>
            </dxi-item>
            <dxi-item dataField="retailDiscount" [colSpan]="1">
              <dx-number-box [(value)]="retailDiscount"></dx-number-box>
            </dxi-item>
            <dxi-item dataField="semiWholeSalePrice" [colSpan]="1">
              <dx-number-box [(value)]="semiWholeSalePrice"></dx-number-box>
            </dxi-item>
            <dxi-item dataField="semiWholeSaleDiscount" [colSpan]="1">
              <dx-number-box [(value)]="semiWholeSaleDiscount"></dx-number-box>
            </dxi-item>
            <dxi-item dataField="wholeSalePrice" [colSpan]="1">
              <dx-number-box [(value)]="wholeSalePrice"></dx-number-box>
            </dxi-item>
            <dxi-item dataField="wholeSaleDiscount" [colSpan]="1">
              <dx-number-box [(value)]="wholeSaleDiscount"></dx-number-box>
            </dxi-item>
          </dxi-item>
        
          
          <dxi-item itemType="group" [colCount]="2">
            
            <dxi-item dataField="active">
              <dx-check-box [(value)]="active"></dx-check-box>
            </dxi-item>
            <dxi-item dataField="comingSoon">
              <dx-check-box [(value)]="comingSoon"></dx-check-box>
            </dxi-item>
          </dxi-item>
        </dxo-form> -->


        <dxo-form>
          <dxi-item itemType="group" [colCount]="1" [colSpan]="1" caption="ინფორმაცია">
            <dxi-item dataField="productName">
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="description"></dxi-item>
            <dxi-item dataField="finaProductName"></dxi-item>
            <dxi-item dataField="finaCode"></dxi-item>
            <dxi-item dataField="barcode"></dxi-item>
            <dxi-item dataField="warranty"></dxi-item>
          </dxi-item>
          
          <dxi-item itemType="group" [colCount]="1" colSpan="1" caption="ფასები">
            <dxi-item dataField="retailPrice"></dxi-item>
            <dxi-item dataField="retailDiscount"></dxi-item>
            <dxi-item dataField="semiWholeSalePrice"></dxi-item>
            <dxi-item dataField="semiWholeSaleDiscount"></dxi-item>
            <dxi-item dataField="wholeSalePrice"></dxi-item>
            <dxi-item dataField="wholeSaleDiscount"></dxi-item>
          </dxi-item>
            <dxi-item dataField="active"></dxi-item>
            <dxi-item dataField="comingSoon"></dxi-item>
          
        </dxo-form>
      </dxo-editing>

      <dxo-selection mode="single"></dxo-selection>

      <dxi-column dataType="number" dataField="id" [visible]="false"></dxi-column>
      <dxi-column dataType="string" dataField="productName" caption="დასახელება" [allowEditing]="true" [minWidth]="100" ></dxi-column>
      <dxi-column dataType="string" dataField="description" caption="აღწერა" [allowEditing]="true" editCellTemplate="descTemp"></dxi-column>
      <dxi-column dataType="number" dataField="retailPrice" caption="საცალო ფასი" [allowEditing]="true"></dxi-column>
      <dxi-column dataType="number" dataField="retailDiscount" caption="საცალო ფასდაკლება" [allowEditing]="true"></dxi-column>
      <dxi-column dataType="number" dataField="semiWholeSalePrice" caption="ნახ-საბ. ფასი" [allowEditing]="true"></dxi-column>
      <dxi-column dataType="number" dataField="semiWholeSaleDiscount" caption="ნახ-საბ. ფასდ." [allowEditing]="true">
      </dxi-column>
      <dxi-column dataType="number" dataField="wholeSalePrice" caption="საბ. ფასი" [allowEditing]="true">
      </dxi-column>
      <dxi-column dataType="number" dataField="wholeSaleDiscount" caption="საბ. ფასდაკ." [allowEditing]="true">
      </dxi-column>
      <dxi-column dataType="number" dataField="rest" caption="ნაშთი" [allowEditing]="false">
      </dxi-column>
      <dxi-column dataType="number" dataField="warranty" caption="გარანტია" [allowEditing]="true">
      </dxi-column>
      <dxi-column dataType="boolean" dataField="comingSoon" caption="გზაშია" [allowEditing]="true" [visible]="false">
      </dxi-column>
      <dxi-column dataType="string" dataField="finaCode" caption="კოდი" [allowEditing]="true" editCellTemplate="finaCodeTemp">
      </dxi-column>
      <dxi-column dataType="string" dataField="barcode" caption="შტრიხკოდი" [allowEditing]="true">
      </dxi-column>
      <dxi-column dataType="boolean" dataField="active" caption="აქტიური" [allowEditing]="true"></dxi-column>
      <dxi-column dataType="string" dataField="finaProductName" caption="დასახელება ფინაში" [allowEditing]="true" editCellTemplate="finaNameTemp">
      </dxi-column>
      <dxi-column type="buttons" width="70">
        <dxi-button
        hint="მოდელები"
        icon="car"
        [onClick]="showModels"
        
        ></dxi-button>
        <dxi-button
        hint="სურათები"
        icon="image"
        [onClick]="showImages"
        ></dxi-button>
      </dxi-column>
      <dxi-column type="buttons" width="70">
        <dxi-button name="edit" icon="edit"></dxi-button>
        <dxi-button name="delete" icon="trash"></dxi-button>
      </dxi-column>

      <div *dxTemplate="let data of 'finaNameTemp'">
        <dx-text-box [(value)]="data.value ?? finaProductName"></dx-text-box>
      </div>
      <div *dxTemplate="let data of 'finaCodeTemp'">
        <dx-text-box [(value)]="data.value ?? finaCode" (onFocusOut)="finaCodeFocusOut($event)">
        </dx-text-box>
      </div>
      <div *dxTemplate="let data of 'descTemp'">
        <dx-text-area>
        </dx-text-area>
      </div>


    </dx-data-grid>
    
</div>

<dx-popup
[visible]="warningPopupVisible"
[textContent]="warningPopupText"
(onHidden)="warningPopupClosing()"
></dx-popup>

<dx-load-panel
shadingColor="rgba(0,0,0,0.4)"
[visible]="loading"
[showIndicator]="true"
[showPane]="true"
[shading]="true"
[hideOnOutsideClick]="false"
></dx-load-panel>
<app-product-model-grid [popupVisible]="productModelPopupVisible" [productId]="selectedProductId" (closePopup)="closeProductModelPopup()"></app-product-model-grid>
<app-product-image-grid [imagePopupVisible]="imagesVisible" [productId]="selectedProductId!" (closePopup)="closeProductImagePopup()"></app-product-image-grid>

