<div style="width: 100%; display: flex; justify-content: center;">
    <dx-data-grid
    #modelGrid
    [dataSource]="usersDataSource"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    width="98%"
    [columnHidingEnabled]="true"
    keyExpr="id"
    [repaintChangesOnly]="true"
    (onSaved)="onChangesSaved($event)"
    (onRowRemoving)="removeUser($event)"
    (onEditorPreparing)="onEditorPrep($event)"
    noDataText="ცხრილი ცარიელია"
    >
      <dxo-paging [pageSize]="50"></dxo-paging>
      <dxo-editing
      mode="popup"
      [allowAdding]="false"
      [allowUpdating]="true"
      [allowDeleting]="true"
      >
      <dxo-popup
          title="რედაქტირება"
          [showTitle]="true"
          [width]="700"
          [height]="525"
          [closeOnOutsideClick]="true"
          [showCloseButton]="true"
        >
        </dxo-popup>
        <dxo-form>
          <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
              <dxi-item dataField="firstName">
              </dxi-item>
              <dxi-item dataField="lastName">
              </dxi-item>
            <dxi-item dataField="username">
            </dxi-item>
            <dxi-item dataField="userIdNumber">
            </dxi-item>
            <dxi-item dataField="phoneNumber">
          </dxi-item>
          <dxi-item dataField="email">
          </dxi-item>
          <dxi-item dataField="userPriceType">
          </dxi-item>
            <dxi-item dataField="consigDays">
            </dxi-item>
            <dxi-item dataField="active">
            </dxi-item>
          </dxi-item>
        </dxo-form>
      </dxo-editing>
      <dxo-selection mode="single"></dxo-selection>

      <dxi-column dataType="string" dataField="username" [allowEditing]="true" caption="მომხმარებელი">
          <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataType="string" dataField="userIdNumber" caption="პირადი N" [allowEditing]="true">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataType="string" dataField="firstName" [allowEditing]="true" caption="სახელი">
          <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataType="string" dataField="lastName" [allowEditing]="true" caption="გვარი">
          <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataType="string" dataField="companyCode" [allowEditing]="true" caption="კომანიის ID">
          <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataType="string" dataField="companyName" [allowEditing]="true" caption="კომპანიის დასახელება">
          <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataType="string" dataField="phoneNumber" [allowEditing]="true" caption="ტელეფონი">
          <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataType="string" dataField="email" [allowEditing]="true" caption="ფოსტა">
          <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataType="number" dataField="consigDays" [allowEditing]="true" caption="კონსიგნაცია" [visible]="false">
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
      <dxi-column dataType="string" dataField="userPriceType" [allowEditing]="true" caption="მომხმარებლის ტიპი">
          <dxo-lookup
          [dataSource]="userPriceTypeDataSource"
          displayExpr="name"
          valueExpr="id"
          ></dxo-lookup>
      </dxi-column>
      <dxi-column dataType="boolean" dataField="active" caption="აქტიური" [allowEditing]="true">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column type="buttons" caption="შეკვეთები" width="70">
        <dxi-button icon="info" [onClick]="showOrders"></dxi-button>
      </dxi-column>
      <dxi-column type="buttons" width="70">
        <dxi-button name="edit" icon="edit"></dxi-button>
        <dxi-button name="delete" icon="trash"></dxi-button>
      </dxi-column>
    
    </dx-data-grid>
</div>

<app-users-orders-grid [popupVisible]="userOrdersPopupVisible" [userId]="selectedUserId" (closePopup)="closeUserOrdersPopup()" [userOrders]="selectedUserOrders"></app-users-orders-grid>