<div class="adminPanelMenuDiv">
    <div>
        <dx-menu
        #menu
        width="fit-content"
        [dataSource]="menuItems"
        displayExpr="name"
        [orientation]="'vertical'"
        [hideSubmenuOnMouseLeave]="false"
        (onItemClick)="menuItemClick($event)"
        [selectedItem]="currentMenuItem"
        [selectionMode]="'single'"
        cssClass="menu"
        >
            <!-- <div *ngIf="currentMenuItem" [ngClass]="{'selectedMenuItem': currentMenuItem.selected}">
                <div class="name">{{ currentMenuItem.name }}</div>
            </div> -->
        </dx-menu>
    </div>
    
    <div class="panelContentDiv">
        <router-outlet></router-outlet>
    </div>
</div>


