.adminPanelMenuDiv{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: whitesmoke;
    margin-bottom: 10px;
}

.menu .dx-menu-item {  
    color: red !important;  
    background: yellow !important;  
}