.adminPanelMenuDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    //flex-wrap: wrap;
}

.dx-menu{
    //flex-wrap: wrap;
}

@media (max-width: 768px) {
    .adminPanelMenuDiv {
        //flex-direction: column;
    }

    .dx-menu-item {
        width: 100%;
    }
}