.adminPanelMenuDiv{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    gap: 20px;
}

.panelContentDiv{
    border-top: 1px groove;
    padding: 5px 0px;
}



@media (max-width: 796px) {
    .adminPanelMenuDiv {
        gap: 4px;
        flex-direction: column;
        padding: 10px 4px;
    }

    .dx-datagrid{  
        font:9px verdana !important;  
    } 
}