.item{
    height: 230px;
    display: flex;
    align-items: center;
}

.dx-datagrid-header-panel.dx-toolbar {
    margin-bottom: 20px !important;
}

@media (max-width: 1040px){
    .toolbarDiv{
        display: flex;
        flex-direction: column;
    }
}

::ng-deep .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-removed):not(.green) > td {
    background-color:rgb(255, 247, 210)
}

::ng-deep .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-removed):not(.yellow) > td {
    background-color: hsl(121, 40%, 73%)
}