<div style="width: 100%; display: flex; justify-content: center; padding-bottom: 20px;">
    <dx-data-grid
    #trItemsGrid
    [dataSource]="trItems"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    width="100%"
    [columnHidingEnabled]="true"
    keyExpr="id"
    [repaintChangesOnly]="true"
    (onRowRemoving)="remove($event)"
    >
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-editing
        mode="popup"
        [allowAdding]="false"
        [allowUpdating]="false"
        [allowDeleting]="true"
        >
        </dxo-editing>

        <dxo-toolbar>
            <dxi-item
            location="before"
            >
                <dx-date-box
                label="-დან"
                [(value)]="fromDate!"
                ></dx-date-box>
                <dx-date-box
                label="-მდე"
                [(value)]="toDate!"
                ></dx-date-box>
            </dxi-item>
            <dxi-item
            location="before"
            >
                <dx-check-box
                [(value)]="completed"
                text="გადატანილი"
                ></dx-check-box>
                <dx-check-box
                [(value)]="completed"
                text="გადასატანი"
                ></dx-check-box>
            </dxi-item>
            <dxi-item
            location="center"
            >
                <dx-select-box
                [dataSource]="stores"
                valueExpr="id"
                displayExpr="name"
                ></dx-select-box>
            </dxi-item>
            <dxi-item
            location="after"
            >
                <dx-button
                text="გადატანილია"
                (onClick)="confirmStatus()"
                stylingMode="contained"
                type="success"
                ></dx-button>
            </dxi-item>
            <!-- <dxi-item>
                <dx-button
                text="წაშლა"
                (onClick)="deActivateItems()"
                ></dx-button>
            </dxi-item> -->
        </dxo-toolbar>

        <dxo-selection mode="multiple"></dxo-selection>

        <dxi-column dataType="number" dataField="id" [visible]="false"></dxi-column>
        <dxi-column dataType="date" dataField="crDate" caption="თარიღი"></dxi-column>
        <dxi-column dataField="date" cellTemplate="dueDate" caption="ვადა"></dxi-column>
        <dxi-column dataType="string" dataField="productCode" caption="კოდი"></dxi-column>
        <dxi-column dataType="string" dataField="productName" caption="დასახელება"></dxi-column>
        <dxi-column dataType="string" dataField="storeName" caption="მაღაზია"></dxi-column>
        <dxi-column dataType="string" dataField="storeAddress" caption="მისამართი"></dxi-column>

        <dxi-column type="buttons" width="70">
            <dxi-button name="delete" icon="trash"></dxi-button>
        </dxi-column>
    </dx-data-grid>
</div>


