.item{
    height: 230px;
    display: flex;
    align-items: center;
}

.dx-datagrid-header-panel.dx-toolbar {
    margin-bottom: 20px !important;
}

@media (max-width: 1040px){
    .toolbarDiv{
        display: flex;
        flex-direction: column;
    }
}
