<div style="width: 100%; display: flex; justify-content: center; padding-bottom: 20px;">
    <dx-data-grid
    #trItemsGrid
    [dataSource]="trItems"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    width="100%"
    [columnHidingEnabled]="true"
    keyExpr="id"
    [repaintChangesOnly]="true"
    (onRowRemoving)="remove($event)"
    (onSelectionChanged)="selectionChange($event)"
    (onRowPrepared)="rowPrepared($event)"
    noDataText="ცხრილი ცარიელია"
    >
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-paging [pageSize]="50"></dxo-paging>
        <dxo-editing
        mode="popup"
        [allowAdding]="false"
        [allowUpdating]="false"
        [allowDeleting]="true"
        >
            <dxo-texts
            saveRowChanges="შენახვა"
            cancelRowChanges="გამოსვლა"
            deleteRow="წაშლა"
            ></dxo-texts>
        </dxo-editing>

        <dxo-toolbar [className]="'toolbarDiv'">
            <dxi-item
            location="before"
            width="250px"
            locateInMenu="auto"
            >
                <dx-date-range-box
                width="250px"
                startDateLabel="-დან"
                endDateLabel="-მდე"
                [(startDate)]="fromDate!"
                [(endDate)]="toDate!"
                [showClearButton]="true"
                ></dx-date-range-box>
            </dxi-item>
            <dxi-item
            locateInMenu="auto"
            location="before"
            >
                <dx-check-box
                [(value)]="completed"
                text="გადატანილი"
                ></dx-check-box>
            </dxi-item>
            <dxi-item
            locateInMenu="auto"
            location="before"
            >
                <dx-check-box
                [(value)]="notCompleted"
                text="გადასატანი"
                ></dx-check-box>
            </dxi-item>
            <dxi-item
            locateInMenu="auto"
            location="before"
            >
                <dx-select-box
                [dataSource]="stores"
                [(value)]="storeId"
                valueExpr="id"
                displayExpr="name"
                label="მაღაზია"
                ></dx-select-box>
            </dxi-item>
            <dxi-item
            locateInMenu="auto"
            location="after"
            >
                <dx-button
                text="გადატანა"
                (onClick)="confirmStatus()"
                stylingMode="contained"
                type="success"
                ></dx-button>
            </dxi-item>
            <dxi-item
            locateInMenu="auto"
            location="after"
            >
                <dx-button [icon]="'refresh'" (onClick)="refreshGrid()"></dx-button>
            </dxi-item>
            <!-- <dxi-item>
                <dx-button
                text="წაშლა"
                (onClick)="deActivateItems()"
                ></dx-button>
            </dxi-item> -->
        </dxo-toolbar>

        <dxo-selection mode="multiple"></dxo-selection>

        <dxi-column dataType="number" dataField="id" [visible]="false"></dxi-column>
        <dxi-column dataType="date" dataField="crDate" caption="თარიღი"></dxi-column>
        <dxi-column dataType="date" dataField="dueDate" caption="ვადა"></dxi-column>
        <dxi-column dataType="string" dataField="productCode" caption="კოდი"></dxi-column>
        <dxi-column dataType="string" dataField="productName" caption="დასახელება"></dxi-column>
        <dxi-column dataType="string" dataField="storeName" caption="მაღაზია"></dxi-column>
        <dxi-column dataType="string" dataField="storeAddress" caption="მისამართი"></dxi-column>

        <dxi-column type="buttons" width="70">
            <dxi-button name="delete" icon="trash"></dxi-button>
        </dxi-column>
    </dx-data-grid>
</div>

<dx-toast [message]="toastMessage" [(visible)]="toastVisible" type="success"></dx-toast>

