<dx-popup
title="შეკვეთები"
[showTitle]="true"
width="80%"
height="50%"
[visible]="popupVisible"
(onShowing)="popupShown()"
(onHidden)="popupHidden()"
[showCloseButton]="true"
[closeOnOutsideClick]="true"
noDataText="ცხრილი ცარიელია"
>
    <dx-data-grid
    [dataSource]="userOrders!"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    width="100%"
    keyExpr="orderId"
    >
        <dxo-editing
        mode="row"
        [allowAdding]="false"
        [allowUpdating]="false"
        [allowDeleting]="false"
        >
        </dxo-editing>

        <dxo-selection mode="single"></dxo-selection>


        <dxi-column dataType="number" dataField="orderId" caption="ნომერი" width="10%"></dxi-column>
        <dxi-column dataType="date" dataField="orderDate" caption="თარიღი"></dxi-column>
        <dxi-column dataType="string" dataField="status" caption="სტატუსი" [customizeText]="status_customize"></dxi-column>
        <dxi-column dataType="string" dataField="paymentType" caption="გადახდა" [customizeText]="paymentType_customize"></dxi-column>
        <dxi-column dataType="number" dataField="sum" caption="ჯამი" [customizeText]="sum_customize"></dxi-column>
    </dx-data-grid>
</dx-popup>

