<dx-popup
title="დეტალები"
[showTitle]="true"
width="min(800px, 95%)"
height="50%"
[visible]="popupVisible"
(onShowing)="popupShown()"
(onHidden)="popupHidden()"
[showCloseButton]="true"
[closeOnOutsideClick]="true"
>
    <dx-data-grid
    [dataSource]="dataSource"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    width="100%"
    keyExpr="id"
    [repaintChangesOnly]="true"
    (onSaved)="saveData($event)"
    (onRowRemoved)="removeData($event)"
    noDataText="ცხრილი ცარიელია"
    >
        <dxo-editing
        mode="row"
        [allowAdding]="true"
        [allowUpdating]="false"
        [allowDeleting]="true"
        >
        </dxo-editing>

        <dxo-selection mode="single"></dxo-selection>


        <dxi-column dataType="number" dataField="id" width="10%" [visible]="false"></dxi-column>
        <dxi-column dataType="number" dataField="productId" caption="პროდუქტი" width="10%" [visible]="productId == null">
            <dxo-lookup [dataSource]="products" displayExpr="productName" valueExpr="id"></dxo-lookup>
        </dxi-column>
        <dxi-column dataType="number" dataField="modelByYearId" caption="მოდელი" width="10%" [visible]="modelByYearId == null">
            <dxo-lookup [dataSource]="modelsByYear" displayExpr="modelByYearName" valueExpr="id"></dxo-lookup>
        </dxi-column>
        <dxi-column dataType="string" dataField="productName" caption="პროდუქტი" width="10%" [visible]="false">
            
        </dxi-column>
        <dxi-column dataType="string" dataField="modelByYearName" caption="მოდელი" width="10%" [visible]="false">
            
        </dxi-column>
    </dx-data-grid>
</dx-popup>
