<div class="card">
    <div class="card-body">
        <!-- <h1 class="card-title">ავტორიზაცია</h1> -->
        <!-- <div *ngIf="showError" class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div> -->
        
        <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm.value)">
            <div class="mb-3 row">
                <label for="username" class="col-form-label col-sm-2">მომხმარებელი:</label>
                <div class="col-md-5">
                    <input type="text" id="username" formControlName="username" class="form-control" />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('username') && hasError('username', 'required')">ჩაწერე მომხმარებელი</em>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="password" class="col-form-label col-sm-2">პაროლი:</label>
                <div class="col-md-5">
                    <input type="password" id="password" formControlName="password" class="form-control" />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('password') && hasError('password', 'required')">ჩაწერე პაროლი</em>
                </div>
            </div>
            <br>
            <div class="mb-3 row">
                <div class="col-md-1">
                    <button type="submit" class="btn btn-info" [disabled]="!loginForm.valid">შესვლა</button>
                </div>
            </div>
        </form>
    </div>
</div>
<dx-load-panel
              shadingColor="rgba(0,0,0,0.4)"
              [visible]="loading"
              [showIndicator]="true"
              [showPane]="true"
              [shading]="true"
              [hideOnOutsideClick]="false"
              ></dx-load-panel>
<dx-toast [message]="toastMessage" [(visible)]="toastVisible" type="error"></dx-toast>