.aboutDiv{
    width: 100%;
    padding: 60px 22px;
    background-image: url(../../../assets/aboutCover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 230px);
    position: absolute;

    h2{
        position: absolute;
        left: 20%;
    }

    .imgDiv{
        width: 80%;
        margin-inline: auto;
        height: 420px;
        display: flex;
        justify-content: center;

        img{
            width: 80%;
            object-fit: contain;
        }
    }

    .pDiv{
        width: 50%;
        margin-inline: auto;
        display: flex;
        justify-content: center;
        position: relative;
        left: 30%;

        p{
            width: 80%;
            font-size: 16px;
            color: whitesmoke;
        }
    }
}