.aboutDiv{
    width: 100vw;
    padding: 12px 22px;

    h2{
        position: absolute;
        left: 20%;
    }

    .imgDiv{
        width: 80%;
        margin-inline: auto;
        height: 420px;
        display: flex;
        justify-content: center;

        img{
            width: 80%;
            object-fit: contain;
        }
    }

    .pDiv{
        width: 80%;
        margin-inline: auto;
        display: flex;
        justify-content: center;

        p{
            width: 80%;
            font-size: 16px;
        }
    }
}