<div style="width: 100%; display: flex; justify-content: center; padding-bottom: 20px;">
    <dx-data-grid
    #courierGrid
    [dataSource]="couriers"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    width="100%"
    [columnHidingEnabled]="true"
    keyExpr="id"
    [repaintChangesOnly]="true"
    (onSaved)="onChangesSaved($event)"
    (onRowRemoving)="removeCourier($event)"
    (onEditorPreparing)="onEditorPrep($event)"
    noDataText="ცხრილი ცარიელია"
    >
      <dxo-editing
      mode="popup"
      [allowAdding]="true"
      [allowUpdating]="true"
      [allowDeleting]="true"
      >
        <dxo-texts
        saveRowChanges="შენახვა"
        cancelRowChanges="გამოსვლა"
        ></dxo-texts>
        
        <dx-popup
        [closeOnOutsideClick]="true"
        [showCloseButton]="true"
        ></dx-popup>
      </dxo-editing>
      
      <dxo-paging [pageSize]="50"></dxo-paging>
      <dxo-selection mode="single"></dxo-selection>
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxi-column dataType="string" dataField="id" caption="Id" [allowEditing]="false"></dxi-column>
      <dxi-column dataType="string" dataField="firstName" caption="სახელი" [allowEditing]="true">
        <dxi-validation-rule type="required"></dxi-validation-rule>
        <dxi-validation-rule type="stringLength" [max]="20" message="სახელი არ უნდა აღემატებოდეს 15 ასოს"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataType="string" dataField="lastName" caption="გვარი" [allowEditing]="true">
        <dxi-validation-rule type="required"></dxi-validation-rule>
        <dxi-validation-rule type="stringLength" [max]="20" message="გვარი არ უნდა აღემატებოდეს 15 ასოს"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataType="string" dataField="courierIdNumber" caption="პირადი ნომერი" [allowEditing]="true">
        <dxi-validation-rule type="required"></dxi-validation-rule>
        <dxi-validation-rule type="stringLength" [min]="11" [max]="11" message="პირადი ნომერი შედგება 11 ციფრისგან!"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataType="string" dataField="phoneNumber" caption="მობილური" [allowEditing]="true">
        <dxi-validation-rule type="required"></dxi-validation-rule>
        <dxi-validation-rule type="stringLength" [min]="9" [max]="9" message="მობილური ნომერი შედგება 9 ციფრისგან!"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataType="string" dataField="carNumber" caption="მანქანის N" [allowEditing]="true">
        <dxi-validation-rule type="required"></dxi-validation-rule>
        <dxi-validation-rule type="stringLength" [min]="9" [max]="9" message="მანქანის ნომერი შედგება 9 ციფრისგან!"></dxi-validation-rule>
      </dxi-column>
      <dxi-column type="buttons" width="70">
        <dxi-button name="edit" icon="edit"></dxi-button>
        <dxi-button name="delete" icon="trash"></dxi-button>
      </dxi-column>
    </dx-data-grid>
</div>



