<app-cart *ngIf="showCart" [inCheckout]="false" (closeCart)="hideCart()" [@cartMaximize]="cartState"></app-cart>

<div class="cartDiv" [ngClass]="{'hidden-content': showCart}">
    <div class="cart-icon">
        <dx-button icon="cart" id="cartIcon" #cartIcon (click)="onCartClick()"></dx-button>
        <span id="cart-count">{{cartProdNumber}}</span>
        <div [@maximize]="contextState" class="cart-context" #cartContextDiv>
            <div class="contextMainDiv">
                <div class="cartTitle" style="display: flex;">
                    <dx-button icon="cart" class="contextIcon"></dx-button>
                    <p id="cartTitle">კალათა</p>
                </div>
                <div class="productList">
                    <div *ngIf="products.length == 0">
                        <p>კალათა ცარიელია</p>
                    </div>
                    <div *ngFor="let item of products" class="productListItem">
                        <img [src]="item.imageUrls[0]!">
                        <p>{{item.name}} (x{{item.quantity}}) - {{item.price}}₾</p>
                        <div class="closeDiv" (click)="removeProduct(item.id)">
                            <img src="../../../assets/x.png" alt="close" height="35px">
                        </div>
                    </div>
                </div>
                <div class="sumDiv">
                    <p>სულ: {{cartTotalPrice}}₾</p>
                </div>
                <div class="contextBtnDiv">
                    <dx-button (onClick)="goToCart()" type="default" width="180px">კალათის ნახვა</dx-button>
                    <dx-button (onClick)="goToCheckout()" type="default" width="180px">ყიდვა</dx-button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mainDiv" [ngClass]="{'hidden-content': showCart}">
    <div class="backDiv">
        <dx-button
        icon="back"
        height="5rem"
        width="5rem"
        (onClick)="goBack()"
        ></dx-button>
    </div>
    <div class="main">
        <div class="product">
            <div class="product-img">
                <dx-gallery
                [dataSource]="product.imageUrls!"
                [showNavButtons]="true"
                [showIndicator]="true"
                width="100%"
                height="100%"
                ></dx-gallery>
                <!-- <img [src]="product.imageUrls![0]" [alt]="product.productName"> -->
                <span class="tag green" *ngIf="!product.rest && product.comingSoon">გზაშია</span>
                <span class="tag red" *ngIf="!product.rest && !product.comingSoon">დროებით მიუწვდომელი</span>
            </div>
            <div class="product-listing">
                <div class="restInfoIcon"  (click)="showRestPopup(product.rest!)">
                    <img height="14px" [src]="product.rest && product.rest > 0 ? '../../../assets/checklist.png' : '../../../assets/x.png'"> მარაგების ნახვა
                </div>
                <!-- <span class="restInfoIcon" (mouseover)="isHovered = true" (mouseout)="isHovered = false" (click)="showRestPopup()">
                    <img src="../../../assets/info.png" height="25px">
                </span>
                <div class="hover-content" [ngClass]="{'visible': isHovered}">
                    ნაშთის ინფორმაცია
                </div> -->
                <div class="content">
                    <h1 class="name">{{product.productName}}</h1>
                    <p class="info">{{product.description}}</p>
                    <p class="price" *ngIf="product.discount"><del>{{product.price}}₾</del>  {{product.price! * (1 - (product.discount / 100)) + '₾'}}</p>
                    <p class="price" *ngIf="!product.discount">{{product.price}}₾</p>
                    <p *ngIf="product.warranty && product.warranty > 0" class="warranty">გარანტია {{product.warranty}} თვე</p>
                    
                </div>
                <div class="btn-and-rating-box">
                    <dx-button
                    [type]="'success'"
                    [text]="'კალათში დამატება'"
                    [stylingMode]="'contained'"
                    (onClick)="addToCart()"
                    [visible]="!addProductDisabled"
                    ></dx-button>
                    <dx-button
                    [type]="'default'"
                    [text]="'შემატყობინე როცა შეივსება'"
                    [stylingMode]="'contained'"
                    (onClick)="notifyMe()"
                    [visible]="addProductDisabled"
                    ></dx-button>
                </div>
            </div>
        </div>
        <div class="btnDiv">

        </div>
    </div>
</div>

<dx-popup
height="200px"
width="min(98%, 400px)"
title="შემატყობინე"
[visible]="notifyPopupVisible"
[showCloseButton]="true"
(onHidden)="closePopup()"
[closeOnOutsideClick]="true"
>
<div class="popupDiv">
    <dx-text-box
    width="225"
    height="3rem"
    placeholder="შეიყვანე ტელ. ნომერი"
    >
    </dx-text-box>
    <dx-button
    text="შენახვა"
    type="normal"
    height="3rem"
    (onClick)="notifyConfirmation()"
    ></dx-button>
</div>
</dx-popup>

<dx-popup
height="min(70%, 350px)"
width="min(98%, 600px)"
title="პროდუქტის ნაშთი"
[visible]="restPopupVisible"
[showCloseButton]="true"
(onHidden)="closeRestPopup()"
[closeOnOutsideClick]="true"
>
    <dx-data-grid
    [dataSource]="productRestInfo"
    width="100%"
    height="100%"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    [wordWrapEnabled]="true"
    >
        <dxi-column dataType="number" dataField="storeId" [visible]="false"></dxi-column>
        <dxi-column dataType="string" caption="დასახელება" dataField="storeName"></dxi-column>
        <dxi-column dataType="string" caption="მისამართი" dataField="storeAddress"></dxi-column>
        <dxi-column dataType="string" caption="ნაშთი" dataField="rest"></dxi-column>
    </dx-data-grid>
</dx-popup>

