<div class="hamburger-menu" [class.open]="isOpen">
  <p *ngIf="loggedIn">გამარჯობა, {{user}}</p>
  <ul>
    <li (click)="navigateTo('home')">მთავარი</li>
    <li (click)="navigateTo('products')">პროდუქცია</li>
    <li (click)="navigateTo('about')">ჩვენს შესახებ</li>
    <li (click)="navigateTo('showroom')">შოურუმი</li>
    <li *ngIf="!loggedIn" (click)="navigateTo('/auth/signin')">შესვლა</li>
    <li *ngIf="!loggedIn" (click)="navigateTo('/auth/register')">რეგისტრაცია</li>
    <li *ngIf="loggedIn">პროფილი</li>
    <li *ngIf="loggedIn && isAdmin" (click)="navigateTo('/admin-panel')">ადმინ პანელი</li>
    <li *ngIf="loggedIn && !isAdmin">ჩემი შეკვეთები</li>
    <li *ngIf="loggedIn" (click)="authService.logout()">გამოსვლა</li>
  </ul>
</div>
<div class="overlay" *ngIf="isOpen" (click)="closeMenu()"></div>