:root{
    height: calc(100vh - 80px);
}

*{
    box-sizing: border-box;
}

.coverDiv{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../../assets/MainCover.jpg);
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    height: 300px;
    display: flex;
    align-items: center;

    .textContainer{
        text-align: center;
        padding-right: 0;
        padding-left: 0;
        height: 300px;
        margin-right: auto;
        margin-left: auto;

        .panel{
            background-color: transparent;
            box-shadow: none;
            border: none;
            margin-bottom: 0;
            height: 100%;

            h2{
                height: calc(100% - 15px);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 15px;

                h1{
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    border-bottom: 2px solid #fff;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    color: #fff;
                    font-family: "Nobel-Regular", arial, helvetica, san-serif;
                    font-size: 26px;
                    margin: 0 0 10px 0;
                }

                .introTextButtons{
                    width: 74%;
                    margin-left: auto;
                    margin-right: auto;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 20px;
                    margin-top: 10px;
                    height: 50px;

                    span{
                        color: #fff;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        padding: 0 20px;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        height: 48px;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        font-family: "Nobel-Regular", arial, helvetica, san-serif;
                        font-size: 14px;
                    }
                    
                    a{
                        line-height: normal;
                        background-image: url(../../../assets/arrow-circle-right.png);
                        background-repeat: no-repeat;
                        background-size: 20px;
                        font-size: 14px;
                        text-transform: uppercase;
                        text-decoration: none;
                        background-color: transparent;
                        font-family: "Nobel-Regular", arial, helvetica, san-serif;
                        color: #fff;
                        letter-spacing: 3px;
                        padding: 0 30px 0 20px;
                        white-space: nowrap;
                        background-position: 100% center;
                        border-left: 1px solid #fff;
                    }
                }
            }
        }
    }
}

.navContainer{
    display: flex;
    background-color: transparent;

    div{
        padding-right: 10px;
        padding-left: 10px;
        margin-right: auto;
        margin-left: auto;
        width: 80%;

        nav{
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;

            ol{
                text-align: left;
                width: fit-content;
                background-color: inherit;
                float: left;
                padding: 10px 0;
                color: #666 !important;
                font-size: 12px;
                font-family: "Nobel-Regular", arial, helvetica, san-serif;
                list-style: none;
                border-radius: 4px;
                margin: 0;

                li{
                    display: inline-block;

                    a{
                        color: #666;
                        text-decoration: none;
                        background-color: transparent;
                    }

                    a:hover{
                        color: #23527c;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


.modelsContainer{
    max-width: 1170px;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-top: 0px;
    margin-bottom: 20px;

    div{
        display: block;

        .panelHeading{
            align-items: center;
            padding: 0 270px;
            position: absolute;
            width: 100%;
            left: 0;
            position:relative;

            h2{
                letter-spacing: 1px;
                text-transform: uppercase;
                font-family: "Nobel-Regular", arial, helvetica, san-serif;
                text-align: center;
                width: 100%;
                margin-top: 10px;
                font-size: 20px;
                color: #000;
                font-weight: unset;
            }
        }

        ul{
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            margin-top: 20px;

            li{
                width: calc(100% / 5);
                display: flex;

                a{
                    color: #666;
                    text-decoration: none;
                    background-color: transparent;

                    img{
                        width: 100%;
                        height: auto;
                        margin-bottom: 10px;
                        object-fit: scale-down;
                        overflow: hidden;
                        vertical-align: middle;
                        border: 0;
                    }

                    div{
                        position: relative;
                        bottom: 90%;
                        color: #000;
                        font-size: 16px;
                        font-family: "Nobel-Regular", arial, helvetica, san-serif;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: end;
                        transition: all 0.3s ease-in-out;
                    }

                    div:hover{
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}










.imgDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

