<div class="main">
    <div class="coverDiv">
        <div class="textContainer">
            <div class="panel">
                <h2>
                    <div class="textHeader">
                        <h1>ლექსუსის ნაწილები და აქსესუარები</h1>
                    </div>
                    <div class="introTextButtons">
                        <span>
                            შეცვალე შენი ავტომობილი ლექსუსის ავთენტური აქსესუარებით
                        </span>
                        <a [routerLink]="['/products']">
                            შეიძინე პროდუქცია
                        </a>
                    </div>
                </h2>
            </div>
        </div>
    </div>
    <div class="navContainer">
        <div>
            <nav>
                <ol>
                    <li>
                        <a (click)="displayModels()">მთავარი</a>
                        &nbsp;/&nbsp;
                    </li>
                    <li>
                        <a (click)="displayModels()">ლექსუსი</a>
                    </li>
                    <li *ngIf="modelVisible">
                        &nbsp;/&nbsp;
                        <a>{{modelString}}</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="modelsContainer">
        <div>
            <div class="panelHeading">
                <h2>რა მოდელია შენი ლექსუსი?</h2>
            </div>
            <ul>
                <li *ngFor="let item of modelsDataSource" @fadeInOut>
                    <a (click)="item.modelName != null ? modelClick(item.id!, item.modelName) : modelByYearClick(item.id)">
                        <img src="{{item.imageUrl}}" alt="{{item.modelName ?? item.modelByYearName}}">
                        <div>{{item.modelName ?? item.modelByYearName}}</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>