<!-- <div class="imgDiv">
    <dx-gallery 
    [dataSource]="imgPath"
    height="250"
    width="350"
    [loop]="true"
    [showNavButtons]="true"
    [showIndicator]="true"
    [animationEnabled]="true"
    >
        <div *dxTemplate="let galleryItem of 'item'">
            <img [src]="galleryItem" alt="">
        </div>
    </dx-gallery>
</div> -->


<div class="main">
    <div class="coverDiv">
        <div class="textContainer">
            <div class="panel">
                <h2>
                    <div class="textHeader">
                        <h1>ლექსუსის ნაწილები და აქსესუარები</h1>
                    </div>
                    <div class="introTextButtons">
                        <span>
                            შეცვალე შენი ავტომობილი ლექსუსის ავთენტური აქსესუარებით
                        </span>
                        <a href="../about/about.component.html">
                            შეიძინე პროდუქცია
                        </a>
                    </div>
                </h2>
            </div>
        </div>
    </div>
    <div class="navContainer">
        <dx-tree-view
        []
        ></dx-tree-view>
    </div>
    <div class="modelsContainer">
        <div>
            <div class="panelHeading">
                <h2>რა მოდელია შენი ლექსუსი?</h2>
            </div>
            <ul>
                <li>
                    <a href="#">
                        <img src="../../../assets/GSMain.png" alt="">
                        <div>GS</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../assets/GXMain.png" alt="">
                        <div>GX</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../assets/ISMain.png" alt="">
                        <div>IS</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../assets/LXMain.png" alt="">
                        <div>LX</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../assets/NXMain.png" alt="">
                        <div>NX</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>