<!-- <div class="imgDiv">
    <dx-gallery 
    [dataSource]="imgPath"
    height="250"
    width="350"
    [loop]="true"
    [showNavButtons]="true"
    [showIndicator]="true"
    [animationEnabled]="true"
    >
        <div *dxTemplate="let galleryItem of 'item'">
            <img [src]="galleryItem" alt="">
        </div>
    </dx-gallery>
</div> -->


<div class="main">
    <div class="coverDiv">
        <div class="textContainer">
            <div class="panel">
                <h2>
                    <div class="textHeader">
                        <h1>ლექსუსის ნაწილები და აქსესუარები</h1>
                    </div>
                    <div class="introTextButtons">
                        <span>
                            შეცვალე შენი ავტომობილი ლექსუსის ავთენტური აქსესუარებით
                        </span>
                        <a href="../about/about.component.html">
                            შეიძინე პროდუქცია
                        </a>
                    </div>
                </h2>
            </div>
        </div>
    </div>
    <div class="navContainer">
        <div>
            <nav>
                <ol>
                    <li>
                        <a href="#">მთავარი</a>
                        &nbsp;/&nbsp;
                    </li>
                    <li>
                        <a href="#">ლექსუსი</a>
                    </li>
                    <li *ngIf="modelVisible">
                        &nbsp;/&nbsp;
                        <a href="#">{{modelString}}</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="modelsContainer">
        <div>
            <div class="panelHeading">
                <h2>რა მოდელია შენი ლექსუსი?</h2>
            </div>
            <ul [@fadeInList]>
                <li *ngFor="let product of modelsDataSource">
                    <a (click)="product.modelName != null ? modelClick(product.id!, product.modelName) : modelByYearClick(product.id)">
                        <img src="{{product.imageUrl}}" alt="{{product.modelName ?? product.modelByYearName}}">
                        <div>{{product.modelName ?? product.modelByYearName}}</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- <li>
    <a href="#">
        <img src="../../../assets/GXMain.png" alt="">
        <div>GX</div>
    </a>
</li>
<li>
    <a href="#">
        <img src="../../../assets/ISMain.png" alt="">
        <div>IS</div>
    </a>
</li>
<li>
    <a href="#">
        <img src="../../../assets/LXMain.png" alt="">
        <div>LX</div>
    </a>
</li>
<li>
    <a href="#">
        <img src="../../../assets/NXMain.png" alt="">
        <div>NX</div>
    </a>
</li> -->