<div style="width: 100%; display: flex; justify-content: center; padding-bottom: 20px;">
    <dx-data-grid
    #makeGrid
    [dataSource]="makeDataSource"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    width="100%"
    [columnHidingEnabled]="true"
    keyExpr="id"
    [repaintChangesOnly]="true"
    (onSaved)="onChangesSaved($event)"
    (onRowRemoving)="removeMake($event)"
    (onEditorPreparing)="onEditorPrep($event)"
    noDataText="ცხრილი ცარიელია"
    >
      <dxo-editing
      mode="popup"
      [allowAdding]="true"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [useIcons]="true"
      >
        <dxo-popup
        title="რედაქტირება"
        [showTitle]="true"
        [width]="600"
        [height]="400"
        [closeOnOutsideClick]="true"
        [showCloseButton]="true"
        >
        </dxo-popup>
        <dxo-form>
          <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
            <dxi-item dataField="makeName">
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="imageUrl" type="required">
              <div *dxTemplate="let data of 'editCellTemplate'">
                <img #uploadedImage class="uploadedImage" [src]="previewImageUrl" height="50px"/>
                <dx-file-uploader
                  #fileUploader
                  [multiple]="false"
                  accept="image/*"
                  [allowedFileExtensions]="['.jpg', '.jpeg', '.png']"
                  uploadMode="useForm"
                  (onValueChanged)="fileChanged($event)"
                ></dx-file-uploader>
              </div>
            </dxi-item>
            <dxi-item dataField="active">
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-item>
          </dxi-item>
        </dxo-form>
      </dxo-editing>
      
      <dxo-selection mode="single"></dxo-selection>
      <dxo-paging [pageSize]="50"></dxo-paging>
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxi-column dataType="string" dataField="makeName" caption="მარკა" [allowEditing]="true">
        <dxi-validation-rule type="required"></dxi-validation-rule>
        <dxi-validation-rule type="stringLength" [max]="15" message="დასახელება არ უნდა აღემატებოდეს 15 ასოს"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="imageUrl" cellTemplate="cellTemplate" [allowEditing]="true" caption="სურათი">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataType="boolean" dataField="active" caption="აქტიური" [allowEditing]="true">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>

      <div *dxTemplate="let data of 'cellTemplate'">
          <img [src]="data.value"  height="70px"/>
      </div>
      <!-- <dxi-column type="buttons" width="70">
        <dxi-button name="edit" icon="edit"></dxi-button>
        <dxi-button name="delete" icon="trash"></dxi-button>
      </dxi-column> -->
    </dx-data-grid>
</div>


