<div style="width: 100%; display: flex; justify-content: center; padding-bottom: 20px;">
    <dx-data-grid
    #modelByYearGrid
    [dataSource]="modelByYearDataSource"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    width="100%"
    [columnHidingEnabled]="true"
    height="100%"
    keyExpr="id"
    [repaintChangesOnly]="true"
    (onSaved)="onChangesSaved($event)"
    (onRowRemoving)="removeModelByYear($event)"
    (onEditorPreparing)="onEditorPrep($event)"
    >
        <dxo-editing
        mode="popup"
        [allowAdding]="true"
        [allowUpdating]="true"
        [allowDeleting]="true"
        >
            <dxo-popup
            title="რედაქტირება"
            [showTitle]="true"
            [width]="700"
            [height]="475"
            [onHidden]="onPopupHidden"
            [closeOnOutsideClick]="true"
            [showCloseButton]="true"
            >
            </dxo-popup>
            <dxo-form>
                <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                    <dxi-item dataField="name"></dxi-item>
                    <dxi-item dataField="startYear"></dxi-item>
                    <dxi-item dataField="endYear"></dxi-item>
                    <dxi-item dataField="imageUrl">
                        <div *dxTemplate="let data of 'editCellTemplate'">
                            <img #uploadedImage class="uploadedImage" [src]="previewImageUrl" height="50px"/>
                            <dx-file-uploader
                                #fileUploader
                                [multiple]="false"
                                accept="image/*"
                                [allowedFileExtensions]="['.jpg', '.jpeg', '.png']"
                                uploadMode="useForm"
                                (onValueChanged)="fileChanged($event)"
                            >
                            </dx-file-uploader>
                        </div>
                    </dxi-item>
                    <dxi-item dataField="active"></dxi-item>
                    <dxi-item dataField="modelId"></dxi-item>
                    <dxi-item dataField="lineNum"></dxi-item>
                </dxi-item>
            </dxo-form>
        </dxo-editing>
        <dxo-selection mode="single"></dxo-selection>

        <dxi-column dataType="number" dataField="lineNum" caption="რიგი" [allowEditing]="true"></dxi-column>
        <dxi-column dataType="string" dataField="name" caption="დასახელება" [allowEditing]="true">
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dxi-validation-rule type="stringLength" [max]="15" message="დასახელება არ უნდა აღემატებოდეს 15 ასოს"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataType="number" dataField="startYear" caption="საწყისი წელი" [allowEditing]="true">
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dxi-validation-rule type="range" [min]="1980" [max]="2030" message="მნიშვნელობა უნდა იყოს 1980-დან 2030-ის ჩათვლით"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataType="number" dataField="endYear" caption="ბოლო წელი" [allowEditing]="true">
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dxi-validation-rule type="range" [min]="1980" [max]="2030" message="მნიშვნელობა უნდა იყოს 1980-დან 2030-ის ჩათვლით"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="imageUrl" cellTemplate="cellTemplate" [allowEditing]="true" caption="სურათი">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataType="boolean" dataField="active" caption="აქტიური" [allowEditing]="true">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="modelId" caption="მოდელი" allowEditing="true">
            <dxo-lookup [dataSource]="models" displayExpr="modelName" valueExpr="id"></dxo-lookup>
        </dxi-column>

        <div *dxTemplate="let data of 'cellTemplate'">
            <img [src]="data.value"  height="50px"/>
        </div>
        <dxi-column type="buttons" width="70">
            <dxi-button name="edit" icon="edit"></dxi-button>
            <dxi-button name="delete" icon="trash"></dxi-button>
          </dxi-column>
    </dx-data-grid>
</div>

