<div style="width: 100%; display: flex; justify-content: space-evenly; padding-bottom: 20px; margin-top: 20px;">
    <dx-button
    text="პროდუქციის სინქრონიზაცია"
    (onClick)="productSync()"
    type="success"
    stylingMode="contained"
    ></dx-button>
    <dx-button
    text="საწყობების სინქრონიზაცია"
    (onClick)="storeSync()"
    type="success"
    stylingMode="outlined"
    ></dx-button>
</div>

<dx-load-panel
    shadingColor="rgba(0,0,0,0.4)"
    [visible]="isLoading"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [hideOnOutsideClick]="false"
    ></dx-load-panel>

<dx-toast [message]="toastMessage" [(visible)]="toastVisible" [type]="toastType"></dx-toast>
