  .circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  .white{
    background-color: rgb(207, 207, 207);
  }
  
  .yellow {
    background-color: rgb(233, 233, 32);
  }
  
  .green {
    background-color: rgb(22, 160, 22);
  }

  .red{
    background-color: rgb(248, 53, 53);
  }

  .deliveryPopupDiv{
    display: flex;
    gap: 8px;
  }

  ::ng-deep .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-removed).yellow > td {
    background-color:rgb(255, 247, 210)
}

::ng-deep .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-removed).green > td {
    background-color: hsl(121, 40%, 73%)
}

::ng-deep .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-removed).white > td {
  background-color:rgb(227, 225, 225)
}

::ng-deep .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-removed).grey > td {
  background-color:rgb(181, 181, 181)
}