<div style="width: 100%; display: flex; justify-content: center; padding-bottom: 20px;">
    <dx-data-grid
    #ordersGrid
    [dataSource]="orders"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    width="98%"
    [columnHidingEnabled]="true"
    keyExpr="id"
    [repaintChangesOnly]="true"
    [columnHidingEnabled]="true"
    (onSelectionChanged)="selectionChange($event)"
    (onRowPrepared)="rowPrepared($event)"
    noDataText="შეკვეთები ცარიელია"
    [title]="'შეკვეთები'"
    >
      
      <dxo-selection mode="single"></dxo-selection>
      <dxo-editing
      mode="popup"
      [allowAdding]="true"
      [allowUpdating]="false"
      [allowDeleting]="false"
      >
        
      </dxo-editing>
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxo-paging [pageSize]="50"></dxo-paging>

      <dxo-toolbar>
        <dxi-item>
          <dx-button
          type="success"
          [text]="confirmBtnText"
          [disabled]="confirmBtnDisabled"
          (onClick)="confirmOrder()"
          ></dx-button>
        </dxi-item>
        <dxi-item>
          <dx-button
          type="success"
          text="მიტანის დამატება"
          [disabled]="deliveryBtnDisabled"
          (onClick)="deliveryPopup()"
          ></dx-button>
        </dxi-item>
        <dxi-item>
          <dx-button
          type="danger"
          text="გაუქმება"
          [disabled]="cancelBtnDisabled"
          ></dx-button>
        </dxi-item>
        <dxi-item>
          <!-- <dx-button name="add" icon="add"></dx-button> -->
        </dxi-item>
       
      </dxo-toolbar>

      
      <dxi-column dataType="date" dataField="creationTime" caption="შეკვეთის დრო"></dxi-column>
      <dxi-column dataType="number" dataField="id" caption="ID"></dxi-column>
      <dxi-column dataType="number" dataField="customerId" caption="შემკვეთის ID" [visible]="false"></dxi-column>
      <dxi-column dataType="string" dataField="customerName" caption="შემკვეთი"></dxi-column>
      <dxi-column dataType="string" dataField="customerCode" caption="შემკვეთის N"></dxi-column>
      <dxi-column dataType="string" dataField="customerPhone" caption="მობილური"></dxi-column>
      <dxi-column dataType="string" dataField="statusString" caption="სტატუსი"></dxi-column>
      <dxi-column dataType="number" dataField="status" [visible]="false"></dxi-column>
      <dxi-column dataType="string" dataField="paymentTypeString" caption="გადახდა"></dxi-column>
      <dxi-column dataType="number" dataField="paymentType" [visible]="false"></dxi-column>
      <dxi-column dataType="number" dataField="discountAmount" caption="ფასდაკ."></dxi-column>
      <dxi-column dataType="number" dataField="amount" caption="თანხა"></dxi-column>
      <dxi-column dataType="boolean" dataField="withDelivery" caption="მიტანა"></dxi-column>
      <dxi-column dataType="string" dataField="storeName" caption="საწყობი"></dxi-column>
      <dxi-column type="buttons" width="70" caption="ინვოისი">
        <dxi-button name="invoiceUrl" icon="info" [onClick]="goToPdf"></dxi-button>
      </dxi-column>

      
    </dx-data-grid>
</div>


<!-- <dx-popup
height="250px"
width="min(450px, 100%)"
[textContent]="popupText"
[visible]="popupVisible"
>

</dx-popup> -->


<dx-popup
height="200px"
width="min(350px, 100%)"
title="კურიერის მიმაგრება"
[visible]="deliveryPopupVisible"
[closeOnOutsideClick]="true"
[showCloseButton]="true"
(onHidden)="deliveryPopupClosed()"
>
  <div class="deliveryPopupDiv">
    <dx-select-box
    [dataSource]="couriers"
    [(value)]="selectedCourier"
    [displayExpr]="displayCourierInfo"
    valueExpr="id"
    label="კურიერი"
    height="42"
    ></dx-select-box>
    <dx-button
    type="success"
    (onClick)="appendCourier()"
    >შენახვა</dx-button>
  </div>
</dx-popup>


<dx-toast [message]="toastMessage" [(visible)]="toastVisible" [type]="toastType"></dx-toast>