<!-- <div class="mainCheckoutDiv">
    <h2>შეკვეთა</h2>
    <dx-form [formData]="order">
        <dxi-item [colCount]="1" [colSpan]="1">
            <dx-select-box
            [dataSource]="buyerTypes"
            [(value)]="buyerType"
            (onValueChanged)="buyerTypeChange($event)"
            ></dx-select-box>
        </dxi-item>
        <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
            <dxi-item dataField="Firstname" [visible]="!isCompany"></dxi-item>
            <dxi-item dataField="Lastname" [visible]="!isCompany"></dxi-item>
            <dxi-item dataField="IdNumber" [visible]="!isCompany"></dxi-item>
            <dxi-item dataField="Phone" [visible]="!isCompany"></dxi-item>
            <dxi-item dataField="CompanyName" [visible]="isCompany"></dxi-item>
            <dxi-item dataField="CompanyNumber" [visible]="isCompany"></dxi-item>
        </dxi-item>

        <dxi-item dataField="paymentType">
            <dx-select-box
            [dataSource]="paymentTypes"
            displayExpr="name"
            valueExpr="id"
            [(value)]="selectedPaymentType"
            ></dx-select-box>
        </dxi-item>
        

        <dxi-item>
            <dx-select-box
            [items]="deliveryType"
            [(value)]="selectedDeliveryType"
            (onValueChanged)="deliveryValChange($event)"
            ></dx-select-box>
        </dxi-item>
        <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
            <dxi-item dataField="order.delivery.to" *ngIf="selectedDeliveryType == deliveryType[0]"></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
            <dxi-item>
                <dx-button text="პროდუქცია" (onClick)="getProducts()">პროდუქცია</dx-button>
            </dxi-item>
            <dxi-item>
                <dx-button type="success" (onClick)="confirmOrder()" [ariaColSpan]="2">დადასტურება</dx-button>
            </dxi-item>
            
        </dxi-item>
    </dx-form>
    <dx-popup
    [visible]="productsPopupVisible"
    (onHidden)="popupHidden()"
    width="90%"
    height="80%"
    >
        <dx-data-grid
        [dataSource]="selectedProducts"
        [showBorders]="true"
        >
            <dxi-column dataField="name" caption="დასახელება"></dxi-column>
            <dxi-column dataField="price" caption="ფასი"></dxi-column>
            <dxi-column dataField="quantity" caption="რაოდენობა"></dxi-column>
        </dx-data-grid>
    </dx-popup>
</div> -->

<!-- <dx-form [formData]="order">
                  <dxi-item [colCount]="1" [colSpan]="1">
                      <dx-select-box
                      [dataSource]="buyerTypes"
                      [(value)]="buyerType"
                      (onValueChanged)="buyerTypeChange($event)"
                      ></dx-select-box>
                  </dxi-item>
                  <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
                      <dxi-item dataField="Firstname" [visible]="!isCompany"></dxi-item>
                      <dxi-item dataField="Lastname" [visible]="!isCompany"></dxi-item>
                      <dxi-item dataField="IdNumber" [visible]="!isCompany"></dxi-item>
                      <dxi-item dataField="Phone" [visible]="!isCompany"></dxi-item>
                      <dxi-item dataField="CompanyName" [visible]="isCompany"></dxi-item>
                      <dxi-item dataField="CompanyNumber" [visible]="isCompany"></dxi-item>
                  </dxi-item>
      
                  <dxi-item dataField="paymentType">
                      <dx-select-box
                      [dataSource]="paymentTypes"
                      displayExpr="name"
                      valueExpr="id"
                      [(value)]="selectedPaymentType"
                      ></dx-select-box>
                  </dxi-item>
                  
      
                  <dxi-item>
                      <dx-select-box
                      [items]="deliveryType"
                      [(value)]="selectedDeliveryType"
                      (onValueChanged)="deliveryValChange($event)"
                      ></dx-select-box>
                  </dxi-item>
                  <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
                      <dxi-item dataField="order.delivery.to" *ngIf="selectedDeliveryType == deliveryType[0]"></dxi-item>
                  </dxi-item>
                  <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
                      <dxi-item>
                          <dx-button text="პროდუქცია" (onClick)="getProducts()">პროდუქცია</dx-button>
                      </dxi-item>
                      <dxi-item>
                          <dx-button type="success" (onClick)="confirmOrder()" [ariaColSpan]="2">დადასტურება</dx-button>
                      </dxi-item>
                      
                  </dxi-item>
              </dx-form> -->
              <!-- <div class="form">
                  <div>
                      <dx-text-box label="სახელი"></dx-text-box>
                      <dx-text-box label="გვარი"></dx-text-box>
                  </div>
                  <div>
                      <dx-text-box label="პირადი N"></dx-text-box>
                      <dx-text-box label="მობილური"></dx-text-box>
                  </div>
              </div> -->





<dx-scroll-view height="100%" width="100%" class="with-footer single-card">
    <div class="checkDiv" style="display: flex;">
        <div class="dx-card content">
            <div class="header" style="border-bottom: groove; display: flex; flex-direction: column; gap: 8px; align-items: center;">
                <!-- <img src="../../../assets/Logo.png" height="60px" alt="" id="logo"> -->
                <h2>შეკვეთა</h2>
            </div>
            <div class="panel-content">
                <div class="switchDiv">
                    <label>ფიზიკური პირი</label>
                    <dx-switch (onValueChanged)="switchChange($event)" [disabled]="switchDisabled" switchedOnText=" " switchedOffText=" " [(value)]="switchVal"></dx-switch>
                    <label>იურიდიული პირი</label>
                  </div>
                <div>
                    <dx-text-box
                    [visible]="!isCompany"
                     label="სახელი" 
                     labelMode="outside"
                     [(value)]="firstName"
                     width="48%"
                     height="2.5rem"
                     [readOnly]="authService.loggedIn"
                     ></dx-text-box>
                    <dx-text-box
                    [visible]="!isCompany"
                     label="გვარი" 
                     [(value)]="lastName"
                     width="48%"
                     height="2.5rem"
                     [readOnly]="authService.loggedIn"
                     ></dx-text-box>
                    <dx-text-box 
                    [visible]="isCompany"
                    label="კომპანიის დასახელება" 
                    [(value)]="companyName"
                    width="48%"
                    height="2.5rem"
                    [readOnly]="authService.loggedIn"
                    ></dx-text-box>
                    <dx-text-box 
                    [visible]="isCompany"
                    label="კომპანიის კოდი" 
                    [(value)]="companyCode"
                    width="48%"
                    height="2.5rem"
                    [readOnly]="authService.loggedIn"
                    ></dx-text-box>
                </div>
                <div>
                    <dx-text-box 
                    label="პირადი N" 
                    [visible]="!isCompany"
                    [(value)]="userIdNumber"
                    [width]="boxWidth"
                    height="2.5rem"
                    [readOnly]="authService.loggedIn"
                    >
                    </dx-text-box>
                    <dx-text-box 
                    label="მობილური"
                    [(value)]="phone"
                    [width]="boxWidth"
                    height="2.5rem"
                    [readOnly]="authService.loggedIn"
                    ></dx-text-box>
                    <dx-select-box
                    [items]="stores"
                    [(value)]="selectedStore"
                    displayExpr="name"
                    label="მაღაზია"
                    [width]="boxWidth"
                    height="2.5rem"
                    ></dx-select-box>
                </div>
                <div>
                    <dx-select-box
                    [dataSource]="paymentTypes"
                    displayExpr="name"
                    valueExpr="id"
                    [(value)]="selectedPaymentType"
                    (onValueChanged)="paymentTypeChange($event)"
                    width="48%"
                    label="გადახდის ტიპი"
                    height="2.5rem"
                    ></dx-select-box>
                    <dx-select-box
                    [items]="deliveryType"
                    [(value)]="selectedDeliveryType"
                    (onValueChanged)="deliveryValChange($event)"
                    width="48%"
                    label="მიტანის ტიპი"
                    height="2.5rem"
                    ></dx-select-box>
                </div>
                <div>
                    <dx-text-box
                    label="მისამართი"
                    [disabled]="selectedDeliveryType != deliveryType[0]"
                    [(value)]="toAddress"
                    width="48%"
                    height="2.5rem"
                    ></dx-text-box>
                    <dx-select-box
                    [disabled]="selectedDeliveryType != deliveryType[0]"
                    label="ქალაქი"
                    [items]="cities"
                    width="48%"
                    [displayExpr]="cityDisplay"
                    [(value)]="city"
                    height="2.5rem"
                    ></dx-select-box>
                </div>
                <div class="btnDiv">
                    <dx-button text="პროდუქცია" (onClick)="getProducts()" width="48%" height="2.5rem">პროდუქცია</dx-button>
                    <dx-button type="success" (onClick)="confirmOrder()" width="48%" height="2.5rem">დადასტურება</dx-button>
                </div>
              
              
              
            </div>
        </div>
        <div class="dx-card content">
            <div class="header" style="border-bottom: groove;">
                <h2>ჩვენი პირობები</h2>
            </div>
            <div class="info-content">
                <div>
                    <h3>ადგილზე მიტანა/რეგიონებში გაგზავნა:</h3>
                    <div *ngFor="let city of cities">
                        <p>- მიწოდება {{city.name}}ს მაშტაბით - <b>{{city.deliveryPrice}}₾</b> (კურიერს).</p>
                    </div>
                    <div>
                        <p>
                           - რეგიონებში მიწოდების პირობები და ფასი განისაზღვრება ინდივიდუალურად. 
                           &nbsp; აღნიშნული ინფორმაციის დასაზუსტებლად დაგიკავშირდებათ ჩვენი გაყიდვების მენეჯერი
                           &nbsp; პროდუქციის სახეობების, რაოდენობის და მიწოდების ადგილის შესაბამისად. 
                        </p>
                    </div>
                </div>
                <div>
                    <h3>საწყობიდან გატანა:</h3>
                    <p>- ქ. თბილისი, დიღმის მასივი, შალვა გოგიძის ქ. N5</p>
                    <p>- ქ. ბათუმი, აეროპორტის გზატკეცილი N241ა</p>
                </div>
                <!-- <div>
                    <h3>გადაცვლა/უკან დაბრუნება</h3>
                    <p>- 7 კალენდარული დღის ვადაში</p>
                </div> -->
            </div>
        </div>
    </div>
    <div>
       <app-cart [inCheckout]="true"></app-cart>
    </div>
</dx-scroll-view>

<dx-popup
              [visible]="productsPopupVisible"
              (onHidden)="popupHidden()"
              width="90%"
              height="80%"
              [closeOnOutsideClick]="true"
              >
                  <dx-data-grid
                  [dataSource]="selectedProducts"
                  [showBorders]="true"
                  >
                      <dxi-column dataField="name" caption="დასახელება"></dxi-column>
                      <dxi-column dataField="price" caption="ფასი" [calculateDisplayValue]="priceCell"></dxi-column>
                      <dxi-column dataField="discount" caption="ფასდაკლება" [calculateDisplayValue]="percentCell"></dxi-column>
                      <dxi-column dataField="quantity" caption="რაოდენობა"></dxi-column>
                      <dxi-column caption="სულ" [calculateDisplayValue]="sumCell"></dxi-column>

                  </dx-data-grid>
</dx-popup>

<dx-popup
[visible]="checkOutPopupVisible"
width="min(375px, 100%)"
height="275px"
title="შეკვეთა"
(onHidden)="checkOutPopupHidden()"
>
    <div class="popupDiv">
        <p>{{checkOutPopupText}}</p>
        <dx-button
        [type]="checkOutBtnType"
        [text]="checkOutBtnText"
        (onClick)="checkOutBtnClicked()"
        ></dx-button>
    </div>
    
</dx-popup>

<dx-toast [message]="toastMessage" [(visible)]="toastVisible" [type]="toastType"></dx-toast>

