:host {
    width: 100%;
    height: 100% !important;
    min-height: calc(100vh - 222px) !important;
  }
  
  dx-scroll-view{
    min-height: calc(100vh - 222px) !important;
    display: flex;
    align-items: center;
    // max-height: 737px !important;
    // padding: calc((100vh - 685px) / 2) 0;
  }

  .checkDiv{
    width: 100%;
    height: 100% !important;
  }
  
  .single-card {
    .dx-card {
      width: 725px;
      margin: 0px auto;
      padding: 20px;
      flex-grow: 0;
      background: #e8e8e8;
      max-height: 100% !important;
      height: 520px;
  
      :host-context(.screen-x-small) & {
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        border: 0;
        flex-grow: 1;
      }
  
      .header {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
  
        .title {
          color: black;
          line-height: 28px;
          font-weight: 500;
          font-size: 24px;
        }
  
        // .description {
        //   color: rgba($base-text-color, alpha($base-text-color) * 0.7);
        //   line-height: 18px;
        // }
      }
    }
  }

  .panel-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    height: calc(100% - 86px);

    div{
      display: flex;
      gap: 10px;
      justify-content: space-between;
    }

    .btnDiv{
      margin-top: auto;
    }
  }

  .switchDiv{
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    margin: 5px auto;

    label{
        font-size: 13px;
        font-weight: 500;
    }
}

dx-text-box, dx-select-box{
  margin-top: 0 !important;
}

  @media screen and (max-width:530px){
    .single-card{
      .dx-card{
        width: 94%;
      }
    }
  }

