<!-- <div class="mainCheckoutDiv">
    <h2>შეკვეთა</h2>
    <dx-form [formData]="order">
        <dxi-item [colCount]="1" [colSpan]="1">
            <dx-select-box
            [dataSource]="buyerTypes"
            [(value)]="buyerType"
            (onValueChanged)="buyerTypeChange($event)"
            ></dx-select-box>
        </dxi-item>
        <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
            <dxi-item dataField="Firstname" [visible]="!isCompany"></dxi-item>
            <dxi-item dataField="Lastname" [visible]="!isCompany"></dxi-item>
            <dxi-item dataField="IdNumber" [visible]="!isCompany"></dxi-item>
            <dxi-item dataField="Phone" [visible]="!isCompany"></dxi-item>
            <dxi-item dataField="CompanyName" [visible]="isCompany"></dxi-item>
            <dxi-item dataField="CompanyNumber" [visible]="isCompany"></dxi-item>
        </dxi-item>

        <dxi-item dataField="paymentType">
            <dx-select-box
            [dataSource]="paymentTypes"
            displayExpr="name"
            valueExpr="id"
            [(value)]="selectedPaymentType"
            ></dx-select-box>
        </dxi-item>
        

        <dxi-item>
            <dx-select-box
            [items]="deliveryType"
            [(value)]="selectedDeliveryType"
            (onValueChanged)="deliveryValChange($event)"
            ></dx-select-box>
        </dxi-item>
        <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
            <dxi-item dataField="order.delivery.to" *ngIf="selectedDeliveryType == deliveryType[0]"></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
            <dxi-item>
                <dx-button text="პროდუქცია" (onClick)="getProducts()">პროდუქცია</dx-button>
            </dxi-item>
            <dxi-item>
                <dx-button type="success" (onClick)="confirmOrder()" [ariaColSpan]="2">დადასტურება</dx-button>
            </dxi-item>
            
        </dxi-item>
    </dx-form>
    <dx-popup
    [visible]="productsPopupVisible"
    (onHidden)="popupHidden()"
    width="90%"
    height="80%"
    >
        <dx-data-grid
        [dataSource]="selectedProducts"
        [showBorders]="true"
        >
            <dxi-column dataField="name" caption="დასახელება"></dxi-column>
            <dxi-column dataField="price" caption="ფასი"></dxi-column>
            <dxi-column dataField="quantity" caption="რაოდენობა"></dxi-column>
        </dx-data-grid>
    </dx-popup>
</div> -->

<dx-scroll-view height="100%" width="100%" class="with-footer single-card">
    <div class="dx-card content">
      <div class="header">
        <img src="../../../assets/logo2.jpg" height="60px" alt="" id="logo">
      </div>
      <div class="panel-content">
        <h2 style="display: ruby-text;">შეკვეთა</h2>
        <dx-form [formData]="order">
            <dxi-item [colCount]="1" [colSpan]="1">
                <dx-select-box
                [dataSource]="buyerTypes"
                [(value)]="buyerType"
                (onValueChanged)="buyerTypeChange($event)"
                ></dx-select-box>
            </dxi-item>
            <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
                <dxi-item dataField="Firstname" [visible]="!isCompany"></dxi-item>
                <dxi-item dataField="Lastname" [visible]="!isCompany"></dxi-item>
                <dxi-item dataField="IdNumber" [visible]="!isCompany"></dxi-item>
                <dxi-item dataField="Phone" [visible]="!isCompany"></dxi-item>
                <dxi-item dataField="CompanyName" [visible]="isCompany"></dxi-item>
                <dxi-item dataField="CompanyNumber" [visible]="isCompany"></dxi-item>
            </dxi-item>

            <dxi-item dataField="paymentType">
                <dx-select-box
                [dataSource]="paymentTypes"
                displayExpr="name"
                valueExpr="id"
                [(value)]="selectedPaymentType"
                ></dx-select-box>
            </dxi-item>
            

            <dxi-item>
                <dx-select-box
                [items]="deliveryType"
                [(value)]="selectedDeliveryType"
                (onValueChanged)="deliveryValChange($event)"
                ></dx-select-box>
            </dxi-item>
            <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
                <dxi-item dataField="order.delivery.to" *ngIf="selectedDeliveryType == deliveryType[0]"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
                <dxi-item>
                    <dx-button text="პროდუქცია" (onClick)="getProducts()">პროდუქცია</dx-button>
                </dxi-item>
                <dxi-item>
                    <dx-button type="success" (onClick)="confirmOrder()" [ariaColSpan]="2">დადასტურება</dx-button>
                </dxi-item>
                
            </dxi-item>
        </dx-form>
        <!-- <div class="form">
            <div>
                <dx-text-box label="სახელი"></dx-text-box>
                <dx-text-box label="გვარი"></dx-text-box>
            </div>
            <div>
                <dx-text-box label="პირადი N"></dx-text-box>
                <dx-text-box label="მობილური"></dx-text-box>
            </div>
        </div> -->
        <dx-popup
        [visible]="productsPopupVisible"
        (onHidden)="popupHidden()"
        width="90%"
        height="80%"
        >
            <dx-data-grid
            [dataSource]="selectedProducts"
            [showBorders]="true"
            >
                <dxi-column dataField="name" caption="დასახელება"></dxi-column>
                <dxi-column dataField="price" caption="ფასი"></dxi-column>
                <dxi-column dataField="quantity" caption="რაოდენობა"></dxi-column>
            </dx-data-grid>
        </dx-popup>
      </div>
    </div>
</dx-scroll-view>

<dx-toast [message]="toastMessage" [(visible)]="toastVisible" type="success"></dx-toast>

