<dx-toolbar
class="dx-theme-background-color"
>
    <dxi-item
    [location]="isSmall ? 'after' : 'before'"
    >
    <img src="../../../assets/logo1.png" height="60px" alt="" id="logo">
    </dxi-item>
    <dxi-item
    *ngIf="!isSmall"
    location="after"
    >
    <p class="menuItem" (click)="goto($event)">პროდუქტები</p>
    </dxi-item>
    <dxi-item
    *ngIf="!isSmall"
    location="after">
    <p class="menuItem" (click)="goto($event)">შოურუმი</p>
    </dxi-item>
    <dxi-item
    *ngIf="!isSmall"
    location="after">
    <p class="menuItem" (click)="goto($event)">ჩვენს შესახებ</p>
    </dxi-item>
    <dxi-item
    *ngIf="isSmall"
    location="before"
    widget="dxButton"
    [options]="opt"
    >
        <dx-drawer
        *ngIf="isSmall"
        [openedStateMode]="'shrink'"
        [position]="'top'"
        [revealMode]="'slide'"
        template="template"
        [opened]="false"
        height="100%"
        [closeOnOutsideClick]="true"
        >
            <div *dxTemplate="let data of 'template'">
                <dx-list
                class="panel-list dx-theme-typography-background-color"
                [hoverStateEnabled]="false"
                [activeStateEnabled]="false"
                [focusStateEnabled]="false"
                [dataSource]="navigation"
                >
                </dx-list>
            </div>
            <div class="mainContent">
                <ng-content></ng-content>
            </div>
            
        </dx-drawer>
    </dxi-item>
</dx-toolbar>



<dx-drawer
*ngIf="!isSmall"
>
    <div class="mainContent">
        <ng-content></ng-content>
    </div>
</dx-drawer>

<div class="footer">
    <div class="row">
        <div class="first">
            <h2>BodyKits</h2>
            <ul>
                <li>
                    <a href="#">მთავარი</a>
                </li>
                <li>
                    <a href="#">პროდუქცია</a>
                </li>
                <li>
                    <a href="#">
                        ჩვენს შესახებ
                    </a>
                </li>
            </ul>
        </div>
        <div class="social">
            <ul>
                <li>
                    <a href="https://www.facebook.com/lexus" class="icon fb"></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/LexusVehicles" class="icon youtube"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/lexususa/" class="icon instagram"></a>
                </li>
                <li>
                    <a href="https://twitter.com/lexus" class="icon twitter"></a>
                </li>
            </ul>
        </div>
    </div>
</div>