<dx-toolbar
class="dx-theme-background-color"
>
    <dxi-item
    [location]="isSmall ? 'after' : 'before'"
    id="logoItem"
    >
        <img src="../../../assets/logo3.jpg" (click)="goToHome()" height="52px" alt="" id="logo">
    </dxi-item>
    <dxi-item
    *ngIf="!isSmall"
    location="after"
    >
        <p class="menuItem" (click)="goToProducts()">პროდუქტები</p>
    </dxi-item>
    <dxi-item
    *ngIf="!isSmall"
    location="after">
        <p class="menuItem" (click)="goToShowroom()">შოურუმი</p>
    </dxi-item>
    <dxi-item
    *ngIf="!isSmall"
    location="after">
        <p class="menuItem" (click)="goToAbout()">ჩვენს შესახებ</p>
    </dxi-item>
    <dxi-item
    *ngIf="!isSmall && loggedIn"
    location="after"
    menuItemTemplate="menuItem"
    >
        <div *dxTemplate="let data of 'item'">
            <dx-button
            class="user-button authorization"
            width="fit-content"
            height="100%"
            stylingMode="text">
            <div *dxTemplate="let data of 'content'">
                <app-user-panel [username]="user" menuMode="context"></app-user-panel>
            </div>
            </dx-button>
        </div>
        
    </dxi-item>
    <div *dxTemplate="let data of 'menuItem'">
        <app-user-panel [username]="user" menuMode="list"></app-user-panel>
    </div>
    <dxi-item 
    *ngIf="!isSmall && !loggedIn"
    location="after"
    >
      <p class="menuItem" (click)="logIn()">შესვლა</p>
    </dxi-item>
    <dxi-item 
    *ngIf="!isSmall && !loggedIn"
    location="after"
    >
      <p class="menuItem" (click)="register()">რეგისტრაცია</p>
    </dxi-item>
    <!-- <dxi-item
    *ngIf="isSmall"
    location="before"
    widget="dxButton"
    [options]="opt"
    >
        <dx-drawer
        *ngIf="isSmall"
        [openedStateMode]="'shrink'"
        [position]="'top'"
        [revealMode]="'slide'"
        template="template"
        [opened]="false"
        height="100%"
        [closeOnOutsideClick]="true"
        >
            <div *dxTemplate="let data of 'template'">
                <dx-list
                class="panel-list dx-theme-typography-background-color"
                [hoverStateEnabled]="false"
                [activeStateEnabled]="false"
                [focusStateEnabled]="false"
                [dataSource]="navigation"
                >
                </dx-list>
            </div>
            <div class="mainContent">
                <ng-content></ng-content>
            </div>
            
        </dx-drawer>
    </dxi-item> -->
</dx-toolbar>



<dx-drawer>
    <div class="mainContent">
        <ng-content></ng-content>
    </div>
</dx-drawer>

<div class="footer">
    <div class="row">
        <div class="first">
            <h2>BodyKits</h2>
            <ul>
                <li>
                    <a (click)="goToHome()">მთავარი</a>
                </li>
                <li>
                    <a (click)="goToProducts()">პროდუქცია</a>
                </li>
                <li>
                    <a (click)="goToAbout()">
                        ჩვენს შესახებ
                    </a>
                </li>
            </ul>
        </div>
        <div class="second">
            <dx-map
            width="650"
            height="175"
            [markers]="marker"
            [controls]="true"
            [center]="'41.776281, 44.778695'"
            [zoom]="18"
            [apiKey]="'AIzaSyAyr5qFaxNeOBIASwyifJUqyLYIHRyF-fA'"
            provider="google"
            [type]="'roadmap'"
            >
            </dx-map>
        </div>
        <div class="social">
            <ul>
                <li>
                    <a href="https://www.facebook.com/lexus" class="icon fb"></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/LexusVehicles" class="icon youtube"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/lexususa/" class="icon instagram"></a>
                </li>
                <li>
                    <a href="https://twitter.com/lexus" class="icon twitter"></a>
                </li>
            </ul>
            <ul>
                <li style="display: flex; align-items: center; margin-top: 5px;">
                    <img src="../../../assets/phone.png" alt="" class="phone">
                    <p id="number">+995599192919</p>
                </li>
            </ul>
        </div>
    </div>
</div>