dx-toolbar{
    height: 70px !important;
    background: whitesmoke;
    padding-right: 20px;
    border-bottom: thin groove;
}

dxi-item{
    display: flex;
    height: 52px;
    margin: 9px 8px;
    color: black;
    transition: all 0.3s ease-in-out;
    font-family: "Nobel-Regular", arial, helvetica, san-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 18px;
}

dxi-item:hover{
    color: #666;
    cursor: pointer;
}

#logoItem{
    margin: 9px 0 9px 15px !important;
    align-items: center;
}

#logo{
    border-radius: 50%;
}

.menuItem{
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Nobel-Bold",arial,helvetica,san-serif;
}


.mainContent{
    min-height: calc(100vh - 222px);
}

.footer{
    padding-inline: 10px;
    margin-inline: auto;
    width: 90%;
    border-top: 0.1px #666 solid;

    .row{
        margin-inline:0;
        display: grid;
        grid-template-columns: auto 1fr auto;

        .first{
            padding: 20px 0;
            //width: 25% !important;

            h2{
                text-transform: uppercase;
                font-family: "Nobel-Regular", arial, helvetica, san-serif;
                color: #000;
                font-size: 14px;
                margin-right: 80px;
            }

            ul{
                margin: 0;
                margin-right: 40px;
                padding-left: 0;
                list-style: none;   

                li{
                    display: list-item;
                    text-align: -webkit-match-parent;
                    list-style: none;

                    a{
                        color: #000;
                        font-size: 12px;
                        font-family: "Nobel-Regular", arial, helvetica, san-serif;
                        text-decoration: none !important;
                        font-weight: 700;
                        cursor: pointer;
                    }

                }
            }
        }

        .second{
            padding: 20px;
            place-self: center;

            dx-map{
                width: 650px;
                height: 180px;
            }
        }

        .social{
            //width: 25%;
            padding: 40px 0;
            //float: right;

            ul{
                display: flex;
                margin: 0;
                justify-content: flex-end;
                list-style: none;

                li{
                    a{
                        background-repeat: no-repeat !important;
                        background-size: contain !important;
                        background-position: center !important;
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        margin-left: 20px;
                        color: #666;
                        text-decoration: none;
                        background-color: transparent;
                    }

                    .fb{
                        background: url(../../../assets/fb.png);
                    }

                    .fb:hover{
                        background: url(../../../assets/fbhov.png);
                    }
                    
                    .youtube{
                        background: url(../../../assets/youtube.png);
                    }

                    .youtube:hover{
                        background: url(../../../assets/youtubehov.png);
                    }

                    .instagram{
                        background: url(../../../assets/insta.png);
                    }

                    .instagram:hover{
                        background: url(../../../assets/instahov.png);
                    }

                    .twitter{
                        background: url(../../../assets/twitter.png);
                    }

                    .twitter:hover{
                        background: url(../../../assets/twitterhov.png);
                    }
                }
            }
        }
    }
}

.phone{
    font-size: 32px;
}

#number{
    font-weight: bold !important;
    margin: 0px 8px !important;
    transition: all 0.3s;
    font-size: 17px;
  }
  
#number:hover{
    cursor: pointer;
    color: #696363;
}

.user-button{
    background-color: rgba(0,0,0,.04) !important;
}


@media screen and (max-width: 788px){
    #number{
        margin: 0px 2px !important;
        font-size: 14px;
    }

    #logo{
        height: 44px !important;
    }
    
    .footer{
        width: 96%;
        padding-inline: 6px;
        .row{
            .first{
                padding: 10px 0;
                h2{
                    margin-right: 0px;
                }

                ul{
                    margin-right: 0px;
                }
            }

            .second{
                padding: 10px 6px;
            }

            .social{
                padding: 10px 0px;

                ul{
                    padding: 0;

                    li{
                        a{
                            width: 24px;
                            height: 24px;
                            margin: 4px;
                        }

                        img{
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 448px){
    #logo{
        height: 37px !important;
    }

    .footer{
        .row{
            .first{
                h2{
                    font-size: 12px;
                }

                ul{
                    li{
                        a{
                            font-size: 10px;
                        }
                    }
                }
            }

            .second{
                padding: 10px 3px;
            }

            .social{
                ul{
                    li{
                        a{
                            height: 18px;
                            margin: 1px;
                        }

                        img{
                            height: 18px;
                        }

                        #number{
                            margin: 0px 3px;
                            font-size: 11px;
                        }
                    }
                }
            }
        }
        
    }
}